.chat-parent {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}
.chat_header {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}
.chat_headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}
.chat_headerInfo > p {
  color: gray;
}
.chat_body {
  flex: 1;
  background-image: url("https://imgs.search.brave.com/0LimlAYsVS2PcDunI4NrRKYXjTlhiAI8uM3HFQKuWCU/rs:fit:294:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5l/TVNaZ3lhVXRLVkNt/UmNFNlBUbERBQUFB/QSZwaWQ9QXBp");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow-y: scroll;
}
.chat_message{
 position: relative;
 font-size: 16px;
 padding: 10px;
 max-width: 40vw;
 width: fit-content;
 border-radius: 10px;
 background-color: #ffffff;
 margin-bottom: 30px;
 

}
.chat_reciever{
    margin-left: auto;
    background-color: #dcf8c6;
   
   }
.chat_timestamp{
    margin-left: 10px;
    font-size: xx-small;
}
.chat_name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}
.chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:62px;
    border-top: lightgray;
}
.chat_footer >form {
    flex: 1;
    display: flex;
}
.chat_footer >form> input{
    flex:1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}
.chat_footer >form >button {
    outline: none;
    border: none;
    /* border-radius: 40px; */
     
}
.chat_footer > .MuiSvgIcon-root{
    padding: 10px;
    color: gray;
}.chat_text{
  word-wrap: break-word;
}
.picker-container {
  position: relative;
  width: 300px;
}
.emoji-icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 5px;
}.chat_date{
  text-align: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.chat_date >span{
  border-radius: 6px;
  background-color: #f5f3f3;
  font-size: small;
 
}.chat_arrowdownward{
  position: fixed !important;
  top: 78%;
  left: 88%;
}
