.app_community{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color:#dadbd3;
    z-index: 2;
    
  
   }
   .app_body_community{
    display: flex;
    background-color:#ededed;
    margin-top: 20px;
    height:95vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgb(21, 21, 21);
    z-index: 2;
   }